div {
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-top-left-radius: 100px;
}

body {
  background-color: #7b32d5;
}

h1 {
  color: #fff;
}

h2 {
  color: #fff;
}

button {
  background-color: #37a7ff;
  color: #fff;
  border: none;
  border-radius: 76px;
  width: 760px;
  height: 160px;
  font-size: 58px;
}
