.card-collab {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card-collab > .card {
  display: block;
  background-color: var(--color-zero);
  border-radius: var(--radius);
  padding: var(--spacing-big) var(--spacing-medium) var(--spacing-small);
  width: 540px;
  box-shadow: 0 0 24px 0 var(--color-negative-very-light);
}

.card-collab > .photo {
  display: block;
  border-radius: var(--radius);
  width: 300px;
  z-index: -1;
  transition: transform 200ms linear;
  transform: translateY(100%);
}

.card-collab > .card:hover + .photo {
  transform: translateY(calc(var(--radius)));
}
