.isActive {
  animation: coiso 800ms linear;
}

@keyframes coiso {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}
